---
layout: default
title: DLAB Blog
---

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">Blog</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Blog</a></li>
            <li class="active">Blog</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


<div class="container blog-full-width">		








<h1>Blog Posts</h1>
{% for post in site.posts %}
    <!--Blog Post-->        
	<div class="blog margin-bottom-40">
    	<h2> <a href="{{ post.url }}">{{ post.title }}</a> </h2>
        <div class="blog-post-tags">
            <ul class="list-unstyled list-inline blog-info">
                <li><i class="icon-calendar"></i> {{ post.date | date_to_string }}</li>
                <li><i class="icon-pencil"></i> Patrick Ramos</li>
                <li><i class="icon-comments"></i> <a href="#">24 Comments</a></li>
                <li><i class="icon-tags"></i> Technology, Education, Internet, Media</li>
            </ul>                    
        </div>
content here
        <p><a class="btn-u btn-u-small" href="{{ post.url }}"><i class="icon-plus-sign"></i> Read More</a></p>
    </div>
<!--End Blog Post--> 
{% endfor %}    
</div>

<div class="text-center">

<ul>
<li>{% if paginator %}{{paginator.}}{% endif %}</li>
<li>Count {{ paginator.count }}</li>
<li>Per Page {{ paginator.per_page }}</li>
<li>Posts {{ paginator.posts }}</li>
<li>Total Posts {{ paginator.total_posts }}</li>
<li>Total Pages {{ paginator.total_pages }}</li>
<li>Previous Page Path {{ paginator.previous_page_path }}</li>
<li>Next Page Path {{ paginator.next_page_path }}</li>
</ul>

</div>

<!--Pagination-->
<div class="text-center">

  <ul class="pagination">

  {% if paginator.previous_page %}  
	<li><a href="{{ paginator.previous_page_path }}">«</a></li>
  {% else %}
    	<li class="disabled"><a href="{{ paginator.previous_page_path }}">«</a></li>
  {% endif %}

    <li class="page">
      {% if paginator.page == 1 %}
        <span class="active">1</span>
      {% else %}
        <a href="/page{{ count }}">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
      <li class="page">
        {% if count == paginator.page %}
          <span class="active">{{ count }}</span>
        {% else %}
          <a href="/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}

  {% if paginator.next_page %}  
	<li><a href="{{ paginator.next_page_path }}">»</a></li>
  {% else %}
    	<li class="disabled"><a href="{{ paginator.next_page_path }}">»</a></li>
  {% endif %}
  </ul>

</div>
<!--End Pagination-->



